.wrapper {
    max-width: 800px;
    margin: 0 auto;
    font-family: bebasneueregular;
}

.myphoto {
width: 25%;
}

.container {
display: flex;
justify-content: space-evenly;
align-items: flex-start;
}

.contacts {
    margin-left: 3%;
}

.mycontacts {
    display: flex;
    margin: 0;
}

.icon {
    width: 30px;
}

.list {
    font-size: 18px;
}

header {
    font-size: 24px;
    text-align: center;
}

h1 {
    margin-bottom: 0;
    
}

@font-face {
    font-family: "bebasneueregular";
    font-style: normal;
    font-weight: 400;
    
        src: url("./fonts/bebasneueregular.woff2") format("woff2"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("./fonts/bebasneueregular.woff") format("woff");
  }