.wrapper {
  max-width: 800px;
  margin: 0 auto;
  font-family: bebasneueregular;
  background-color: #D3D3D3;
  padding-left: 3%;
  padding-right: 3%;
  border: 10px;
  border-style: double;
  -webkit-box-shadow: 20px 39px 7px 4px rgba(34, 60, 80, 0.12);
  -moz-box-shadow: 20px 39px 7px 4px rgba(34, 60, 80, 0.12);
  box-shadow: 20px 39px 7px 4px rgba(34, 60, 80, 0.12);

}

.myphoto {
  width: 25%;
  border: 3px solid black;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.contacts {
  margin: 0;
}

.mycontacts {
  display: flex;
  margin: 0;
}

.icon {
  width: 30px;
  margin-left: 0%;
  margin-right: 4%;
}

.list {
  font-size: 18px;
  padding-left: 3%;
  margin-left: 12%;
}

header {
  font-size: 24px;
  text-align: center;
  background-color: #D3D3D3;
}

h1 {
  margin-bottom: 0;
  color: #9c180e;

}

@font-face {
  font-family: "bebasneueregular";
  font-style: normal;
  font-weight: 400;

  src: url("./fonts/bebasneueregular.woff2") format("woff2"),
    /* Если браузер не поддерживает woff2, загрузит woff */
    url("./fonts/bebasneueregular.woff") format("woff");
}

h2 {
  font-size: 30px;
  padding-left: 3%;
}

body {
  background: rgb(220, 220, 220);
  background: radial-gradient(circle, rgba(220, 220, 220, 1) 0%, rgba(0, 0, 0, 0.6643032212885154) 100%);
}

hr {
  border-color: black;
}

.text {
  font-size: 22px;
}

.footer {
  text-align: right;
}